.graticule
  fill none
  stroke #777
  stroke-opacity .3
  stroke-width .5px

.land
  fill #CCC

.boundary
  fill none
  stroke #000
  stroke-width .1px

#info-panel
  display none
  color #FFF
  background rgba(0, 0, 0, .6)
  position absolute
  right 0
  top 0
  height 400px
  width 300px